$black: #26241e;
* {
    font-size: 10px;
    font-weight: 700;
    font-family: Changa, sans-serif;
}
* :not(img) {
    border-radius: 1px !important;
}

@mixin font-in-res-of($res, $size) {
    @media screen and (min-width: $res) {
        * {
            font-size: $size;
            font-weight: 400;
        }
    }
}

div.wrapper {
    @import './layout/header';
    @import './layout/reviewers';
    img.arrow-down {
        width: 10px;
    }
    main {
        background-color: $black;
    }
}
@include font-in-res-of(330px, 12px);

@media screen and (max-width:330px) {
    div.wrapper {
        padding: 0;
        .navbar-collapse {
            padding: 0;
        }
    }
}
@media screen and (min-width:1170px) {
    div.wrapper {
        padding: 40px 40px 0 40px;
    }
}