@import '../components/colors';
@import '../components/mixins';

// jargon: res: resolution or min width
@mixin image-widths-in-res-of($res, $logo, $brand) {
    @media screen and (min-width: $res) {
        div.header-general {
            .logo img {
                width: $logo;
            }
            .reviewee img {
                width: $brand;
            }
        }
    }
}

header .container-fluid {
    padding: 0 !important;
    .header-nav, .header-general{

        padding: 0 7.3% !important;
    }
}

.header-nav {
    &, .navbar-nav, .navbar-header {
        background-color: #fff;
    }
    .navbar-collapse {
        padding: 0;
        a:hover {
            background-color: #efefef;
        }
    }
}

div.header-general {
    .logo img {
        width: 36px;
    }
    .reviewee img {
        width: 20px;
    }
    min-height: 90px;
    background-color: $gold;
    // general header sections are all vertically aligned to the center
    // and they're separated by the space between them
    @include centering-flex($justify: space-between);

    // the links are not decorated and are displayed as inline-blocks
    // so that margin is applied to them
    div > a {
        display: inline-block;
    }

    // the sections inside of the upper header
    div {
        // should be all displayed as inline blocks 
        // to be controlled by the flex layout
        display: inline-block;
        
        @include default-link;
        // for the header to be consistent all sides should have a margin of 4px
        .logo > a {
            margin-left: 4px;
        }
         
        div > *, div.right-align > div {
            margin-right: 4px;
        }
    }
    @include fitting-dropdown;
}

@include image-widths-in-res-of(330px, 60px, 36px);