@import '../components/stars';
@import '../components/mixins';
@import '../components/colors';
@mixin header-layout {
    .header {
        h5 {
            margin: 0;
        }
        .review-summary {
            display: flex;
            justify-content: space-between;
        }
        .overall-rating {
            margin: 15px 0;
            div {
                display: inline-block;
            }
            div.img img {
                width: 20px;
            }
            span.highlight-rating {
                font-size: 14px;
                color: $gold;
            }
            span.max-rate {
                color: #bbb;
            }
        }
        @include fitting-dropdown;
        @include default-link;

    }
}

.reviewers {
    padding-left: 30px;
    padding-top: 20px;
    background-color: #fff;
    border-radius: 2px !important;
    .container-fluid {
        padding: 0;
    }
    @include header-layout;
    // user iteml
    .list-group-item {
        padding: 1px;
        &.active {
            background-color: $gold;
            color: #333;
            border-color: $gold;
        }
        .name h6 {
            display: inline-block;
            font-weight: 700;
        }
        .img img {
            width: 66px;
        }
    }
    .user-list {
        padding: 0;
        .user {
            .still-stars img {
                width: 10px;
            }
            display: flex;
            h5 {
                margin: 0;
                margin-top: 2px;
            }
            .img {
                margin-right: 8px;
            }
            .review-excerpt .message-excerpt {
                display: none;
            }
        }
    }
    .chat {
        padding: 0;
        .chat-info {
            display: flex;
            padding: 2px 0 0 10px;
            background-color: #f6f5f2;
            @include centering-flex(space-between);
            div.stars {
                height: 20px;
            }
            
            & > div, div.left-align > div, div.right-align > div {
                display: inline-block;
            }
            div.right-align {
                max-width: 50px;
                img {
                    max-width: 20px;
                }
            }
            div.user-img {
                margin-right: 3px;
                img {
                    width: 60px;
                    border-radius: 50%;
                    border: 4px solid #fff;
                }
            }
        }
        .messages {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // min-height: 60vh;vh
            background-color: #e8e8e8;
            margin-top: -20px;
            padding: 36px 48.5px 0 48.5px;
            .message-item {
                max-width: 100%;
                border-radius: 10px !important;
                margin-bottom: 10px;
                .user-thumb {
                    display: inline;
                    border-radius: 25%;
                    padding: 0;
                    img {
                        width: 25px;
                        border-radius: 50%;
                    }
                }
                .content {
                    padding: 10px;
                }
            }
            .user-message-item {
                background-color: #d3d3d3;
            }
            .brand-message-item {
                background-color: $gold;
                img {
                    float: right;
                }
            }
            .send-message {
                .input-group {
                    width: 100%;
                    margin-left: -14px;
                }
                input.form-control {
                    height: 100px;
                    border-bottom: 0;
                    border-top-right-radius: 10px !important;
                    border-top-left-radius: 10px !important;
                    word-break: break-word;
                    &:focus {
                        border: 1px solid #ccc;
                        border-bottom: 0;
                        box-shadow: initial;
                        z-index: initial;
                        outline: initial;
                        outline-offset: 0px;
                    }
                }
                div.send-icon {
                    border-bottom-left-radius: 10px !important;
                    border-bottom-right-radius: 10px !important;
                    background-color: #fff;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 12px;
                    padding-bottom: 6px;
                    border: 1px solid #ccc;
                    border-top: 0;
                }
            }
        }
    }
}

@media screen and (min-height: 600px) {
    .reviewers .messages {
        min-height: 608px;
    }
} 